<h2 class="component-title">Handle Checker</h2>
<form (submit)="checkCurrentName()">
  <input #handleCheckInput [(ngModel)]="currentName"
      name="name" type="text" id="handle-check-input" placeholder="Try a handle">
  <button id="check-handle-button" type="submit">Check handle</button>
  <button id="clear-checked-handles-button" type="button"
      (click)="clearCheckedNames(); handleCheckInput.focus()">Clear checked handles</button>
  <br />
  Rules:
  <label *ngFor="let state of ruleStates" class="rule-select">
    <input type="checkbox" name="rule_{{state.rule.id}}" [(ngModel)]="state.active">
    {{state.name}}
  </label>
</form>
<h3>Checked Handles</h3>
<table class="handle-list checked-handles">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Conflicts</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let checked of checkedNames" class="handle-row">
      <td class="handle-name">{{checked.name}}</td>
      <td class="handle-conflicts">
        <div *ngIf="checked.conflicts.length > 0" class="handle-conflict-list">
          <ng-container *ngFor="let conflict of checked.conflicts">
            <div *ngIf="conflict.ruleState.active"
                class="conflict-card"
                [ngClass]="conflict.classes"
                [@tableInsert]="'in'"
                (click)="conflict.toggleExpanded()"
                [title]="conflict.toolTip">
              <span class="conflict-title">
                <ng-container [ngSwitch]="!!conflict.personUri">
                  <a *ngSwitchCase="true"
                    class="handle-link"
                    [href]="conflict.personUri"
                    target="_blank"
                    >{{conflict.title}}</a>
                  <ng-container *ngSwitchDefault>{{conflict.title}}</ng-container>
                </ng-container>
              </span>
              <span *ngIf="conflict.counterpart" class="conflict-counterpart-type">
                {{conflict.counterpart.type}}
              </span>
              <span class="conflict-description">
                {{conflict.ruleState.name}}: {{conflict.description}}
              </span>
            </div>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<h3>All {{handles.length}} Handles</h3>
<table class="handle-list all-handles">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let handle of handles"
      [@tableInsert]="'in'"
      class="handle-row">
      <td class="handle-name"
          (click)="currentName = handle.name; handleCheckInput.focus()">
        {{handle.name}}
      </td>
      <td class="handle-type">{{handle.type}}</td>
    </tr>
  </tbody>
</table>
