<h2 class="component-title">Handle Checker</h2>
<form (submit)="checkCurrentName()">
  <input #handleCheckInput [(ngModel)]="currentName"
      name="name" type="text" id="handle-check-input" placeholder="Try a handle">
  <button type="submit">Check handle</button>
</form>
<h3>Checked Handles</h3>
<table class="handle-list checked-handles">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Conflicts</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let checked of checkedNames" class="handle-row">
      <td class="handle-name">{{checked.name}}</td>
      <td class="handle-conflicts">
        <ul *ngIf="checked.conflicts.length > 0" class="handle-conflict-list">
          <li *ngFor="let conflict of checked.conflicts"
              [ngClass]="conflictClasses(conflict)"
              [title]="conflictTip(conflict)">
            {{conflict.description}}
          </li>
        </ul>
    </tr>
  </tbody>
</table>

<h3>All Handles</h3>
<table class="handle-list all-handles">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let handle of handles" class="handle-row">
      <td class="handle-name"
          (click)="currentName = handle.name; handleCheckInput.scrollIntoView()">
        {{handle.name}}
      </td>
      <td class="handle-type">{{handle.type}}</td>
    </tr>
  </tbody>
</table>
