table.checked-handles {
  border-collapse: collapse;

  th {
    padding: 0.5ex;
    text-align: left;
  }

  td {
    border: thin solid;
    padding: {
      left: 0.5ex;
      right: 0.5ex;
    }
  }

  td.handle-name {
    padding: 0.5ex;
    vertical-align: top;
  }
}

.handle-conflict-list {
  padding-left: 0;

  .conflict-card {
    cursor: pointer;
    display: inline-block;
    margin-right: 1em;
    padding: 0.5ex;
    vertical-align: top;

    .conflict-title {
      display: inline;
      font-weight: bolder;

      a {
        color: black;
      }
    }
    .conflict-counterpart-type {
      display: inline;
    }
    .conflict-description {
      display: none;
    }
    &.expanded {
      .conflict-description {
        display: block;
      }
    }
  }

  .handle-conflict-priority-high .conflict-title {
    font-style: italic;
  }
}

.rule-select {
  display: inline-block;
  margin-right: 1em;
}

.all-handles .handle-name {
  cursor: pointer;
}
