/* You can add global styles to this file, and also import other style files */

/* TODO Use a library like angular-material or bootstrap. */

@import 'constants.scss';

body, html {
  background-color: $khaki_light;
  height: 100%;
  margin: 0;
  padding: 0;
}
